#header-nav {
	border-radius:	0;
	border-bottom:	1px solid #000000;
}

.navbar-brand h1 {
	font-size:		1.5em;
	font-weight:	bold;
	margin-top:		0;
	margin-bottom:	0;
	line-height:	0.75;
	color:			#e70012;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration:	none;
}

.navbar-collapse {
	padding:	0;
}

#nav-list {
	background-color:	#e5d198;
	text-align:			center;
	margin:				0;
}

#nav-list a {
	color:		#e70012;
	border-top:	1px solid #000000;
}

header .container {
	margin-left: 0;
}

.menuItem {
	height:				1000px;
	background-color:	#e5d198;
	width:				90%;
	margin: 			5%;
}

.itemName {
	text-align:		center;
	font-weight:	bold;
	font-size:		1.5em;
	padding:		1%;
	color:	#e70012;
}

.itemDescription {

}

h1 {
	text-align: 	center;
	font-size:		2em;
	font-weight:	bold;
}

/*

*/