#header-nav {
	border-radius:	0;
	border:			0;
}

.navbar-brand {
	/*padding-top:	15px;*/
}

.navbar-brand h1 {
	font-size:		1.5em;
	font-weight:	bold;
	margin-top:		0;
	margin-bottom:	0;
	line-height:	0.75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration:	none;
}

.container {
	margin-left: 0;
}

/*

h1 {
	margin: auto;
	margin:	0;
	align-items: center;
}

.navbar {
	margin-bottom: 0px;
}
*/